<div class="title"><%= item.name %></div>

<dl class="item_display">
	<dt>author(s):</dt>
	<% item.authors.each do |author| %>
		<dd><%= author.name.titlecase %></dd>
	<% end %>
	<% item.metadata.each do |metadatum| %>
		<dt><%= metadatum.metadata_type.name.titlecase %>:</dt>
		<dd><%= metadatum.value.titlecase %></dd>
	<% end %>
</dl>

	<%= image_tag item.image, :class=>"artwork" %>
