<div class="title"><%= item.name %></div>
<div><%= link_to "{edit}", edit_book_path(item),:class=>"edit_link" %></div>

<dl class="item_display">
  <% item.creator_types.uniq.each do |creator_type| %>
    <dt><%= creator_type.name.titlecase %></dt>
    <% item.item_creators.find(:all, :conditions=>["creator_type_id=?",creator_type.id]).each do |item_creator| %>
      <dd><%= item_creator.creator.name %></dd>
    <% end %>
  <% end %>
  
  
  <% unless item.publication_date.blank? %>
    <dt>Publication Date:</dt>
    <dd><%= item.publication_date %></dd>
  <% end %>
  
  <% item.creator_types.uniq.each do |creator_type| %>
    <dt><%= creator_type.name.titlecase %>(s)</dt>
    <% item.item_creators.find(:all, :conditions=>["creator_type_id=?",creator_type.id]).each do |item_creator| %>
      <dd><%= item_creator.creator.name %></dd>
    <% end %>
  <% end %>
  
  <% item.metadata_types.uniq.each do |metadata_type| %>
    <dt><%= metadata_labeler metadata_type.name.titlecase %></dt>
    <% item.metadata.find(:all, :conditions=>["metadata_type_id=?",metadata_type.id]).each do |metadatum| %>
      <dd><%= metadatum.value.titlecase %></dd>
    <% end %>
  <% end %>
  
  
  <% unless item.summary.blank? %>
    <dt>Summary:</dt>
    <dd><%= raw item.summary %></dd>
  <% end %>

  <% item.keys.each do |key| %>
    <dt><%= key.key_type.name.titlecase %>:</dt>
    <dd><%= key.value %></dd>
  <% end %>
  
</dl>
<%= image_tag item.image, :class=>"artwork" %>
<hr>