<% if @creator %>
	<h2>Books by <%=@creator.name %></h2>
<% elsif @metadatum %>
	<h2>Books filtered by <%= @metadatum.value %></h2>
<% else %>
	<h2>Books</h2>
<% end %>

<table class="index">
	<thead>
		<th></th>
		<th>Name</th>
		<th>Type</th>
		<% "<th>role</th>" unless @creator.blank? %>
		<th>Rating</th>
	</thead>
	<tbody>
		<% @books.each do |book| %>
			<tr>
				<td><%= link_to "&raquo;", edit_item_path(book.item) %></td>
				<td class="name"><%= link_to book.item.name, book_path(book) %></td>
				<td class="type"><%= book.item.item_type.name unless book.item.item_type.nil? %></td>
				<%= "<td>#{book.item.role(@creator)}</td>" unless @creator.blank? %>
				<td class="rating"><%= book.item.rating %></td>
				<td><%= link_to("X", book_path(book), :method => :delete, :confirm => "Are you sure?" ) %></td>
			</tr>
		<% end %>
	</tbody>
</table>