<%= crud_header @item %>

<% form_for @item do |form| %>
	<dl>
		<dt><%= form.label :item, :name %></dt>
		<dd><%= form.text_field :name %></dd>
		<dt><%= form.label :item, :rating %></dt>
		<dd><%= form.text_field :rating %></dd>
		
		<fieldset>
			<legend>Creator(s)</legend>
			<table>
				<% fields_for :item_creators do |item_creator_form| %>
					<tr>
						<td>artist</td>
						<td><%= item_creator_form.select :creator_type, @creator_types %></td>
						<td><%= item_creator_form.check_box :destroy %>
					</tr>
				<% end %>
			</table>
		</fieldset>
	</dl>
	<%= crud_submit(@item) %>
<% end %>