<div class="nav_wrapper">
	<ul class="nav">
		<li><%= link_to "items", items_path %></li>
		<li><%= link_to "creators", creators_path %></li>
		<li><%= link_to "books", books_path %></li>
	</ul>

	<ul class="nav">
		<li><%= link_to "new item", new_item_path %></li>
		<li><%= link_to "new book", new_book_path %></li>
	</ul>
</div>