<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Collections <% unless @page_title.nil? -%> :: <%= @page_title %><% end -%></title>
  <%= stylesheet_link_tag 'collection', :cache => true %>
    
  <%= javascript_include_tag 'jquery-1.4.2.js', :cache => true %>
  <%#= javascript_include_tag "jquery.labelify.js", :cache => true %>
  <%= javascript_include_tag 'application.js' %>

  <% if @extra_head -%>
	  <%= yield :extra_head %>
  <% end -%>
</head>
<body <%= "id=\"#{@custom_body_id}\"" unless @custom_body_id.nil? %>>
<div id="header">
	
	<div class="pron">[k<span class="ital-inline">uh</span>-<span class="boldface">lek</span>-sh<span class="ital-inline">uh</span><%= image_tag "tranparent.png", :width=>"20px", :alt=>"" %>n]</div>	

	<div class="header_ital">-noun</div>
	<span class="definition">---</span>
	<span class="definition">
		<span class="defintion_number">1.</span>
		the act of collecting.
	</span>
	<span class="definition">
		<span class="defintion_number">1.</span>
		the act of collecting.
	</span>
	<span class="definition">
		<span class="defintion_number">1.</span>
		the act of collecting.
	</span>
<%#
	<ol class="definition">
		<li>the act of collecting.</li>
		<li>something that is collected;  a group of objects or an amount of material accumulated in one location, especially for some purpose or as a result of some process: a stamp collection; a collection of unclaimed hats in the checkroom; a collection of books on Churchill.</li>

		<li>the works of art constituting the holdings of an art museum: a history of the museum and of the collection.</li>
		<li>the gathered or exhibited works of a single painter, sculptor, etc.: an excellent Picasso collection. </li>
		<li>collections, the various holdings of an art museum organized by category, as painting, sculpture, works on paper, photography, or film: the director of the collections. </li>
		<li>the clothes or other items produced by a designer, especially for a seasonal line: the spring collection.</li>
		<li>a sum of money collected,  especially for charity or church use.</li>
		<li>Manège . act of bringing or coming into a collected  attitude.</li>	

	</ol>
%>
	</div>
<div style="clear:both"></div>


<%= render :partial => 'layouts/navigation' %>
<%= render :partial => 'layouts/flash_messages' %>
<%= yield %>
  
</body>
</html>